{% extends "base.html" %}

{% block content %}

<div id="AboutMe">
  <h1>
    Kirikmelet's Internet Corner
  </h1>
  <p>
    I am an Undergraduate Student at University of Illinois Chicago,
    majoring in Computer Science with a concentration in computer systems.
    
    This webpage serves as both my portfolio and blog(?).
  </p>
</div>
  <div id="Stickers">
    <img src="/imgs/antifa.gif" loading="lazy" decoding="async">
    <img src="/imgs/anti-mac.gif" loading="lazy" decoding="async">
    <img src="/imgs/cookies.png" loading="lazy" decoding="async">
    <img src="/imgs/firefox.gif" loading="lazy" decoding="async">
    <img src="/imgs/linux_now-button.gif" loading="lazy" decoding="async">
    <img src="/imgs/palestine.gif" loading="lazy" decoding="async">
    <img src="/imgs/yesterweb-saynotoweb3.gif" loading="lazy" decoding="async">
    <img src="/imgs/archlinux.gif" loading="lazy" decoding="async">
    <img src="/imgs/emacs.gif" loading="lazy" decoding="async">
    <img src="/imgs/anti-chrome.gif" loading="lazy" decoding="async">
    <img src="/imgs/DSA88x31.png" loading="lazy" decoding="async">
    <img src="/imgs/yuri.gif" loading="lazy" decoding="async">
    <img src="/imgs/powered-llvm.gif" loading="lazy" decoding="async">
    <img src="/imgs/thedigitalme.gif" loading="lazy" decoding="async">
    <img src="/imgs/soulseek.gif" loading="lazy" decoding="async">
    <img src="/imgs/javascriptfree.gif" loading="lazy" decoding="async">
    <img src="/imgs/css3.gif" loading="lazy" decoding="async">
    <img src="/imgs/learn_html.gif" loading="lazy" decoding="async">
    <img src="/imgs/neo-fedi.gif" loading="lazy" decoding="async">
    <img src="/imgs/neovim.gif" loading="lazy" decoding="async">
  </div>

{% endblock content %}
